div.container {
    margin-top: 200px;
    width: 50%;
    padding-left: 10%;
}

label {
    width: 100px;
    display: inline-block;
}

button#login {
    width: 150px;
}

div.row {
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    size: 50px;
}
